{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolBuy | Exclusive Buying Site Blogs</title>
    <!-- link -->
    <link rel="stylesheet" href="{% static 'bootcss/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogsread.css' %}">
</head>
<body>
        <!-- navbar -->
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #025;">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="{% url 'accounts:home' %}" style="font-size: 25px; font-weight:600;">
            <img src="{% static 'image/logo/logo.png' %}" class="d-inline-block align-text-center"
              style="margin-left: 150px; height: 40px;">
            CoolBuy
          </a>
  
          <div class="navbar-nav">
            <form class="form-inline">
              <input class="search" type="search" placeholder="Search..." aria-label="Search" required>
              <button class="btn sea btn-outline-primary"><i class="fas fa-search text-white"></i></button>
            </form>
          </div>
  
      <!-- Links -->
      {% if user.is_authenticated %}
  
        <!-- Right -->
        <div class="navbar-nav">
            <a href="#" class="nav-link text-white text-center"><i class="fas fa-bell"></i></a>
            <a class="nav-link text-white" href="#"><i class="fas fa-shopping-cart"></i></a>
            <div class="dropdown">
            <img class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height:50px; border-radius: 50%; margin-right:150px;"
              src="{{ user.profile.profile_pic.url }}">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="item text-center" style="font-weight: bolder;"> Hi <strong
                  style="color: #B9C04C; cursor:default;"> {{ user.username }} 👋 </strong></li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center" href="{% url 'accounts:profile'  request.user.username %}">My Account</a>
              <a class="dropdown-item text-center" href="#">My Order</a>
              <a class="dropdown-item text-center" href="#">My Address</a>
              <a class="dropdown-item text-center" href="#">My Cart</a>
              <a class="dropdown-item text-center" href="{% url 'accounts:logout' %}">Log Out</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center" href="#">Settings</a>
              <a class="dropdown-item text-center" href="#">Help</a>
              <a class="dropdown-item text-center" href="#">Privacy Policy</a>
            </div>
            </div>
        </div>
          {% else %}
            <div class="navbar-nav">
              <a class="nav-link text-white" href="#"><i class="fas fa-shopping-cart"></i></a>
              <a class="nav-link" href="{% url 'accounts:login' %}"><button type="button" class="btn btn-outline-primary text-white" style="border-radius: 10px;">Log In</button></a>
              <a class="nav-link" href="{% url 'accounts:register' %}"><button type="button" class="btn btn-outline-primary text-white" style="border-radius: 10px;" >Sign Up</button></a>
            </div>
          {% endif %}
        </div>
      </nav>
      <!-- section -->
      <div class="col-11 card">
        <div class="blogs">
        {% for blog in blogs %}
          
          <h1 class="text-center" style="color: #025; font-family:cursive; margin-top:20px; font-size:50px;">{{blog.title}}</h1>
          <div>
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subone}}</h2>
            {% if blog.onedes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.onedes}}</p>
            {% endif %}
            {% if blog.subone_image %}
            <img src="{{blog.subone_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_one %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_one}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subtwo %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subtwo}}</h2>
            {% endif %}
            {% if blog.twodes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.twodes}}</p>
            {% endif %}
            {% if blog.subtwo_image %}
            <img src="{{blog.subtwo_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_two %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_two}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subthree %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subthree}}</h2>
            {% endif %}
            {% if blog.threedes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.threedes}}</p>
            {% endif %}
            {% if blog.subthree_image %}
            <img src="{{blog.subthree_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_three %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_three}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subfourth %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subfourth}}</h2>
            {% endif %}
            {% if blog.fourthdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.fourthdes}}</p>
            {% endif %}
            {% if blog.subfourth_image %}
            <img src="{{blog.subfourth_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_fourth %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_fourth}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subfifth %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subfifth}}</h2>
            {% endif %}
            {% if blog.fifthdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.fifthdes}}</p>
            {% endif %}
            {% if blog.subfifth_image %}
            <img src="{{blog.subfifth_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_fifth %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_fifth}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subsixth %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subsixth}}</h2>
            {% endif %}
            {% if blog.sixthdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.sixthdes}}</p>
            {% endif %}
            {% if blog.subsixth_image %}
            <img src="{{blog.subsixth_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_sixth %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_sixth}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subseventh %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subseventh}}</h2>
            {% endif %}
            {% if blog.seventhdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.seventhdes}}</p>
            {% endif %}
            {% if blog.subseventh_image %}
            <img src="{{blog.subseventh_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_seventh %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_seventh}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subeigth %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subeigth}}</h2>
            {% endif %}
            {% if blog.eigthdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.eigthdes}}</p>
            {% endif %}
            {% if blog.subeigth_image %}
            <img src="{{blog.subeigth_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_eigth %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_eigth}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subnineth %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subnineth}}</h2>
            {% endif %}
            {% if blog.ninethdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.ninethdes}}</p>
            {% endif %}
            {% if blog.subnineth_image %}
            <img src="{{blog.subnineth_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_nineth %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_nineth}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            {% if blog.subtenth %}
            <h2 style="margin-top: 35px; font-size:40px; margin-left:10px; font-family:cursive; font-weight:700;">✯ {{blog.subtenth}}</h2>
            {% endif %}
            {% if blog.tenthdes %}
            <p style="float: left; font-size:26px; margin-left:10px; color:#025; font-family:cursive;" class="col-6">{{blog.tenthdes}}</p>
            {% endif %}
            {% if blog.subtenth_image %}
            <img src="{{blog.subtenth_image.url}}"  class="col-4" alt="" style="height:300px; margin-right:10px;">
            {% endif %}
            {% if blog.refer_tenth %}
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;"> For Viewing Item <a class="referlink" href="{{blog.refer_tenth}}" style="font-family:cursive;">Click Here</a></p>
            {% endif %}
          </div>
          <div>
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;">Written By : <span style="color: #025;">{{blog.written_by}}</span> </p>
            <p style="margin-left:10px; font-family:cursive; font-size :20px; font-weight:700;">Date & Time: <span style="color: #025;">{{blog.joined_date}}</span> </p>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- script -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
       crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/b996cccd07.js" crossorigin="anonymous"></script>
</body>
</html>