@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  body{
    background-color: #ECF0F1;
  }
  .log{
    margin-right: 50px;
  }
  .card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #E5E7E9;
    box-shadow: 5px 10px #888888;
  }
  .log_img{
    text-align: center;
  }
  .btn{
    width: 100%;
  }
  .li{
    text-align: center;
    margin-top: 5px;
  }
  a{
    text-decoration: none;
    color: #0081FF;
    
  }
  a:hover{
    color: blue;
  }
  span{
    display: none;
  }