<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolBuy | Exclusive Buying Site</title>
</head>
<body>
    <div class="info">
        <div class="container" style="text-align:center;">
        <h1>Payment Success</h1>
        <br>
        <h3>Congratulations! You have successfully place the order for cash on delivery. Your order will reach to you in 5 to 7 working days.</h3>
        </div>
        </div>
</body>
</html>